<div class="panel-heading">
    <h3 class="panel-title"><b>Witaj:</b><span style="float: right;"><u>{{ auth['user'].name }}</u></span></h3>
</div>
<div class="panel-body">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Gracz<span style="float: right;"><u>Poziom LVL</u></span></h3>
        </div>
        <div class="panel-body">
            <div class="progress">
                <div class="progress-bar progress-bar-danger" style="width: 100%;"><span>ZDROWIE</span></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" style="width: 100%;"><span>PA</span></div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: 100%;"><span>PD</span></div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" style="text-align: right;" class="form-control" id="disabledInput" placeholder="CASH" disabled>
                    <span class="input-group-addon">$</span>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Umiejętności<span style="float: right;"><u>SP pkt.</u></span></h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 50px;">SI</span>
                    <input type="text" style="text-align: right;" class="form-control" id="disabledInput" placeholder="STR" disabled>
                    <span class="input-group-addon"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 50px;">ZR</span>
                    <input type="text" style="text-align: right;" class="form-control" id="disabledInput" placeholder="DEX" disabled>
                    <span class="input-group-addon"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 50px;">WY</span>
                    <input type="text" style="text-align: right;" class="form-control" id="disabledInput" placeholder="STA" disabled>
                    <span class="input-group-addon"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" style="width: 50px;">IN</span>
                    <input type="text" style="text-align: right;" class="form-control" id="disabledInput" placeholder="INTELL" disabled>
                    <span class="input-group-addon"></span>
                </div>
            </div>
        </div>
    </div>
</div>